/* .container {
    width: 100%; */
    /* margin: 0 auto; */
    /* padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; */
    /* text-align: center; */
    
  /* }
.deepak1{
    color: aqua;
    margin-left: 500px;
    
} */
/* .hightlight{
    color: red; */
    /* margin-left: 100px; */

/* }
.para{
    color: black;
    margin-left: -0px;
}
.deepak2{
    color: rgb(22, 112, 133);
    margin-top: -80;
}
.description {
    font-size: 1em;
    color: #000;
    margin-bottom: 20px;
  } */
  body{
    background-color: rgb(254, 255, 255);
  }
  .deepak{
    background-color: azure;
    max-width: 100%;
  }

  .container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fbfbfc;
  }
  
  .title {
    font-size: 2em;
    color: #000080;
    
  }
  
  .highlight {
    color: #FF0000;
  }
  
  .subtitle {
    font-size: 1.5em;
    color: #000080;
  }
  
  .description {
    font-size: 1em;
    color: #000;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .teamList {
    list-style-type: none;
    padding: 0;
  }
  
  .teamList li {
    font-size: 1em;
    color: #000;
    margin-bottom: 10px;
  }
  
  .footer {
    font-size: 0.8em;
    color: #000;
    text-align: center;
    margin-top: 20px;
  }

  
